tbody > tr > td > button {
   background: transparent;
   border: 0;
   font-weight: 500;
   color: #1b84ff;
}
tbody > tr > td > button:hover {
   text-decoration: underline;
   transition: all 0.3s ease-in-out;
}
table#datatable {
   min-height: 100px;
}
.flatpickr-day.today,
.flatpickr-day.selected {
   font-weight: bold !important;
}
input[type="file"]::-webkit-file-upload-button {
   display: none;
}
.card {
   animation-duration: 1s;
   animation-fill-mode: both;
   animation-name: fadeIn;
}
@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
@keyframes zoomInDown {
   0% {
      -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      opacity: 0;
      -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
      transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
   }
   60% {
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      opacity: 1;
      -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
      transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
   }
}
